body {
    background:#363636;
    margin: 0px 0px 0px 0px;
}
#navigationcontainer {
    display:block;
    position:fixed;
    left:0;
    right: 0;
    top: 0;
    height:35px;
    margin: 0px 0px 0px 0px;
    background-color:#1c1c7d; 
    padding: 0px 0px 5px 0px;
    z-index: 8;
    border: 3px solid #000000;
    border-top:none;
    border-left:none;
    border-right:none;
}

#sitetitlelogo {
    text-align: left;
    display:inline-block;
    height:35px;
    width:auto;
    color: #e6f1ff;
    position:relative;
    font-family: verdana, sans-serif;
    float:left;
    padding: 0px 0px 5px 15px;
    font-size: 22px;
    line-height: 0;
}

.navbutton {
    display:inline-block;
    height:35px;
    width:115px;
    border: 1px solid #1c1c7d;
    border-top:none;
    border-bottom:none;
    background-color: #000000;
    color: #e6f1ff;
    text-align: center;
    font-family: verdana, sans-serif;
    padding: 0px 0px 5px 0px;
    position:relative;
    float:right;
    line-height: 0.5;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.navbutton:hover {
  background-color: lightseagreen;
}


a.navlink:link {
    text-decoration: none;
    background-color: none;
    color:#e6f1ff;
}

a.navlink:visited {
    text-decoration: none;
    background-color: none;
    color:#e6f1ff;
}

a.navlink:active {
    text-decoration: bold;
    background-color: none;
}
.navlinktext {
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}
.navlinktext:hover {
    font-style: bold;
    color:black;
}

#footer {
   height:100px;
    width: 100%;
    display:block;
    clear:both;
    position:relative;
    background-color: #1c1c7d;
    border-top: 3px solid;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    left: 0;
    right: 0;
    top: 0:
}



/* CSS for Resume start*/



.container {
    width: 1038px;
    height: 1870px;
    background-color: #0000c7;
    margin: 0px 3px 0px 3px;
    border: none;
    border-radius:5px;
    position: relative;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 35px;
    border-radius: 5px;
    clear:left;
    padding-left: 2.5px;
}
#header {
  height: 20px;
  width:1032px;
  background-color: transparent;
  position:relative;
  display:block;
  margin-bottom: 5px;
    padding-left: 20px;
    border:none;
    font-family: verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    font: bold;
    color:#e6f1ff;
    border-radius: 5px;
}
#headerimg {
  height: 50px;
  position:relative;
  background-color:#ffffff;
  border: none;
  display:block;
    margin-bottom: 5px;
}
.left {
   height: 1826px;
   max-width:210px;
   border:none;
   background-color:#ffffff;
   display:block;
   float:left;
   margin-right: 5px;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-left:5px;
    position: relative;
    font-family: verdana, sans-serif;
    padding-top: 6px;
    justify-content: center;
    align-content: center;
}


.center {
   height: 300px;
   width:790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
    font-family: tahoma;
    position: relative;
    font-size:14px;
     padding-left: 5px;
    padding-right: 5px;
}
.center1 {
   height: 170px;
   width: 790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    font-family: tahoma;
    position: relative;
}
.center2 {
   height: 915px;
   width: 790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right:5px;
    font-family: tahoma;
    position: relative;
}
.center3 {
   height: 140px;
   width: 790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right:5px;
    font-family: tahoma;
    position: relative;
}
.center4 {
   height: 263px;
   width: 790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    font-family: tahoma;
    position: relative;
}

.sectionheader {
    text-align: left;
    font-family: tahoma;
}
body {align-content: center;

}
h4 {
    margin: 0px 0px 0px 0px;
    font-family: verdana, sans-serif;
}
h5 {
    color: blue;
    margin: 0px 0px 0px 0px;
    font-family: tahoma;
}
.jobeduitems {
    font-size: 14px;
    margin: 0px 0px 30px 0px;
}
.jobeduitemsmultijob {
    font-size: 14px;
    margin: 0px 0px 15px 0px;
}
#companies {
    font-family: verdana, sans-serif;
    padding:0px 0px 0px 0px;
    line-height: 0px;
    width:790;
    margin: 10px 10px 10px 0px;
}
.dates {
    text-align: left;
    display: inline;
    position:relative;
}
.company {
    text-align: center;
    position:relative;
    padding:0px 0px 0px 0px;
    display:inline-block;
}
.location {
    text-align: right;
    display:inline-block;
    position:relative;
    float:right
}
#volunteeritems {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}
#volunteerheader {
    text-align: left;
    font-family: tahoma;
    margin-bottom: 0px;
}

/* CSS for Resume stop*/

/* CSS for Home (index.html) start*/


#topbackimage {
    max-width: 960px;
   position: relative;
    justify-content: center;
    margin: 44px auto 0px auto;
    padding: 0px 0px 0px 0px; 
}

#HomeTiles {
    height:490px;
    width: 100%;
    display:block;
    clear:both;
    position: relative;
    padding: auto;
    margin: auto;
}

#homepgphotomenu {
    padding: auto;
    margin: auto;
    border: none;
    border-collapse: collapse;
       
}

.hometablephotorow {
    padding: 0px 0px 0px 0px;
    margin: -1px 0px -1x 0px;
    border-width: 5px;
    border-collapse: collapse;
}

.hometablephotoData {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-width: 5px;
    border-collapse: collapse;
}

.homepgtableimg {
    padding: 0px 0px 0px 0px;
    margin: 0x 0px 0px 0px;
    border-width: 0px;
    border-collapse: collapse;
}


/* CSS for Home (index.html) stop*/