body {
    background:#363636;
    margin: 0px 0px 0px 0px;
}
#navigationcontainer {
    display:block;
    position:fixed;
    left:0;
    right: 0;
    top: 0;
    height:35px;
    margin: 0px 0px 0px 0px;
    background-color:#1c1c7d; 
    padding: 0px 0px 5px 0px;
    z-index: 8;
    border: 3px solid #000000;
    border-top:none;
    border-left:none;
    border-right:none;
}

#sitetitlelogo {
    text-align: left;
    display:inline-block;
    height:35px;
    width:auto;
    color: #e6f1ff;
    position:relative;
    font-family: verdana, sans-serif;
    float:left;
    padding: 0px 0px 5px 15px;
    font-size: 22px;
    line-height: 0;
}

.navbutton {
    display:inline-block;
    height:35px;
    width:115px;
    border: 1px solid #1c1c7d;
    border-top:none;
    border-bottom:none;
    background-color: #000000;
    color: #e6f1ff;
    text-align: center;
    font-family: verdana, sans-serif;
    padding: 0px 0px 5px 0px;
    position:relative;
    float:right;
    line-height: 0.5;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.navbutton:hover {
  background-color: lightseagreen;
}


a.navlink:link {
    text-decoration: none;
    background-color: none;
    color:#e6f1ff;
}

a.navlink:visited {
    text-decoration: none;
    background-color: none;
    color:#e6f1ff;
}

a.navlink:active {
    text-decoration: bold;
    background-color: none;
}
.navlinktext {
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}
.navlinktext:hover {
    font-style: bold;
    color:black;
}

#footer {
   height:100px;
    width: 100%;
    display:block;
    clear:both;
    position:relative;
    background-color: #1c1c7d;
    border-top: 3px solid;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    left: 0;
    right: 0;
    top: 0:
}

br {
  line-height: 1rem;
  height: 1rem;
}

/* CSS for Resume start*/



.container {
    height: 1892px;
    width: 1038px;
    background-color: #0000c7;
    margin: 0px 3px 0px 3px;
    border: none;
    border-radius:5px;
    position: relative;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 35px;
    border-radius: 5px;
    clear:left;
    padding-left: 2.5px;
}
#header {
  height: 20px;
  width:1032px;
  background-color: transparent;
  position:relative;
  display:block;
  margin-bottom: 5px;
    padding-left: 20px;
    border:none;
    font-family: verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    font: bold;
    color:#e6f1ff;
    border-radius: 5px;
}
#headerimg {
  height: 50px;
  position:relative;
  background-color:#ffffff;
  border: none;
  display:block;
    margin-bottom: 5px;
}
.left {
   height: 1848px;
   max-width:210px;
   background-color:#ffffff;
   display:block;
   float:left;
   margin-right: 5px;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-left:5px;
    position: relative;
    font-family: verdana, sans-serif;
    padding-top: 6px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.pdflinks:link {
    font-weight: bold;
    font-size: 14px;
    color:blue;
    text-decoration:none;
    margin-top:10px;
    margin-bottom:10px;
    display:block;
}

.pdflinks:visited {
    color:blue;
}

.pdflinks:hover {
    color:darkorange;
}

.center {
   height: 300px;
   width:790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
    font-family: tahoma;
    position: relative;
    font-size:14px;
     padding-left: 5px;
    padding-right: 5px;
}

.center1 {
   height: 266px;
   width: 790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    font-family: tahoma;
    position: relative;
}

.center2 {
   height: 170px;
   width: 790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    font-family: tahoma;
    position: relative;
}
.center3 {
   height: 939px;
   width: 790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right:5px;
    font-family: tahoma;
    position: relative;
}
.center4 {
   height: 135px;
   width: 790px;
   border:none;
   background-color:#e6f1ff;
   display:block;
   float:left;
   border:3px solid #bbc3d1;
   border-radius:5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    padding-right:5px;
    font-family: tahoma;
    position: relative;
}

.sectionheader {
    text-align: left;
    font-family: tahoma;
}
body {align-content: center;

}
h4 {
    margin: 0px 0px 0px 0px;
    font-family: verdana, sans-serif;
}
h5 {
    color: blue;
    margin: 0px 0px 0px 0px;
    font-family: tahoma;
}
.jobeduitems {
    font-size: 14px;
    margin: 0px 0px 30px 0px;
}
.jobeduitemsmultijob {
    font-size: 14px;
    margin: 0px 0px 15px 0px;
}
#companies {
    font-family: verdana, sans-serif;
    padding:0px 0px 0px 0px;
    line-height: 0px;
    width:790;
    margin: 10px 10px 10px 0px;
}
.dates {
    text-align: left;
    display: inline;
    position:relative;
}
.company {
    text-align: center;
    position:relative;
    padding:0px 0px 0px 0px;
    display:inline-block;
}
.location {
    text-align: right;
    display:inline-block;
    position:relative;
    float:right
}
#volunteeritems {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}
#volunteerheader {
    text-align: left;
    font-family: tahoma;
    margin-bottom: 0px;
}

/* CSS for Resume stop*/

/* CSS for Home (index.html) start*/


.css-slideshow{
  position: relative;
  max-width: 961px;
  height: 330px;
  margin: 44px auto 0px auto;
  padding: 0px 0px 0px 0px;
}
.css-slideshow figure{
  margin:0px auto 0px auto;
  max-width: 961px;
  height: 330px;
  background: #000;
  position: absolute;

}
.css-slideshow img{
 
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
  margin-top: 290px;
    font-family: tahoma, sans-sarif;
    font-size: 14px;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: tahoma, sans-sarif;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 20s 15s infinite;
}
figure:nth-child(2) {
  animation: xfade 20s 10s infinite;
}
figure:nth-child(3) {
  animation: xfade 20s 5s infinite;
}
figure:nth-child(4) {
  animation: xfade 20s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#HomeTiles {
    height:490px;
    width: 100%;
    display:block;
    clear:both;
    position: relative;
    padding: auto;
    margin: auto;
}

#homepgphotomenu {
    padding: auto;
    margin: auto;
    border: none;
    border-collapse: collapse;
       
}

.hometablephotorow {
    padding: 0px 0px 0px 0px;
    margin: -1px 0px -1x 0px;
    border-width: 5px;
    border-collapse: collapse;
}

.hometablephotoData {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-width: 5px;
    border-collapse: collapse;
}

.homepgtableimg {
    padding: 0px 0px 0px 0px;
    margin: 0x 0px 0px 0px;
    border-width: 0px;
    border-collapse: collapse;
}

#quotes {
    max-width: 961px;
   position: relative;
    justify-content: center;
    margin: 2px auto 0px auto;
    padding: 0px 0px 0px 0px; 
}

/* CSS for Home (index.html) stop*/

/* CSS for Philosophy start*/

#philosophycontainer {
    height: 1335px;
}

#philosophy {
    height: 1296px;
    line-height: 125%;
}

#philosophyphotos {
    height: 1290px;
}

.bodyparagraphs {
    text-indent:30px;
}   

.bodytextlinks:link {
    color:blue;
    text-decoration:none;
}

.bodytextlinks:visited {
    color:blue;
}

.bodytextlinks:hover {
    color:darkorange;
}

/* CSS for Philosophy stop*/

/* CSS for Codefolio start*/

#codefoliocontainer {
    height: 1580px;
    width: 1039px;
}

#centercodefolio {
    height: 1541px;
}

#leftcodefolio {
    height: 1536px;
    max-width:210px;
    padding: 5px 5px 0px 5px;
    background-color:#e6f1ff;
}
    
#codefoliopara {
    line-height: 150%;
}

/* CSS for Codefolio stop*/

/* CSS for Contact start*/

#leftcontact {
    height: 205px;
    max-width:210px;
    padding: 5px 5px 0px 5px;
}
    
#centercontact {
    height: 210px;
    justify-content: center;
    text-align: center;
}

#containercontact {
    height: 225px;
    width: 1039px;
    padding-top: 10px;
}