body {
    background-image: url("http://wallpaper-gallery.net/images/adventure-time-wallpaper/adventure-time-wallpaper-19.jpg");
    background-color: #bff0ff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}